---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Ticker from "../components/Ticker.astro";
import Stats from "../components/Stats.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import ERPScene from "../components/ERPScene.astro";
import OtherWork from "../components/OtherWork.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import ChatWidget from "../components/ChatWidget.astro";
import TourOverlay from "../components/TourOverlay.astro";
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Ticker />
    <Stats />
    <About />
    <Experience />
    <Skills />
    <Projects />
    <ERPScene />
    <OtherWork />
    <Contact />
  </main>
  <Footer />
  <ChatWidget slot="end" />
  <TourOverlay slot="end" />
</Layout>
